.button {
  display: inline-block;
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  gap: 8px;
  color: var(--foreground);
  background: var(--background);
  border-color: var(--gray-alpha-300);
  min-width: 90px;
  &.active {
    background: var(--foreground);
    color: var(--background);
  }
}

.button:nth-child(1) {
  padding-right: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.button:nth-child(2) {
  padding-left: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
